body {
  font-family: monaco;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #837d7d;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}
body header nav-component nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav-component nav a {
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  font-size: 1.3em;
  color: white;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main p {
  font-size: 1.1em;
}
body main .timerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .timerBox .separator {
  font-size: 56px;
}
body main .timerBox .count-digit {
  color: #110e0e;
  background-color: #288675;
  font-size: 56px;
  padding: 20px 20px;
  text-shadow: 0 1px 0 #b2dfd7;
  border-radius: 10%;
  margin: 0.05em;
}
body main .options {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
